<%= link_to "New phone", new_mob_path %>
<table border ="1">
  <thead>
    <th>Name</th>
    <th>Number</th>
    <thcolspan ="3"></th>
  </thead>
<tbody>
  <% @phone.each do |mob| %>
    <tr>
      <td><%= mob.name %></td>
      <td><%= mob.number %></td>
      <td><%= link_to "Show", mob %>
        <td><%= link_to "Edit", edit_mob_path(mob)  %></td>
        <td><%= link_to "Delete", mob, method: :delete %>
    </tr>

  <% end %>
</tbody>
</table>
